<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

<div id="edit" class="w-[80%] p-[10px] border-[gray] border-[2px] rounded-[10px] mt-[20px] flex flex-col items-center">
    <div class="w-full flex flex-row justify-around">
        <div class="flex flex-col">
            <label for="logo">Logo</label>
            <input id="logo" class="px-[5px] border-[2px] border-[gray] rounded-[5px]" type="text" placeholder="relative path files manage" value="<%= rep.logo %>">
        </div>
        <div class="flex flex-col">
            <label for="name">Nom</label>
            <input id="name" class="px-[5px] border-[2px] border-[gray] rounded-[5px]" type="text" placeholder="nom" value="<%= rep.name %>">
        </div>
        <div class="flex flex-col">
            <label for="date">Date de création</label>
            <input id="date" class="px-[5px] border-[2px] border-[gray] rounded-[5px]" type="date" value="<%= rep.date %>">
        </div>
        <div class="flex flex-col">
            <label for="date">Tag</label>
            <select class="chosen-select" data-placeholder=" " id="category" multiple>
                <option value="informatique">informatique</option>
                <option value="web">web</option>
                <option value="logiciel">logiciel</option>
                <option value="nodeJS">nodeJS</option>
                <option value="Python">Python</option>
                <option value="arduino">arduino</option>
                <option value="express">express</option>
                <option value="socket.io">socket.io</option>
                <option value="react native">react native</option>
                <option value="conception 3D">conception 3D</option>
                <option value="impression 3D">impression 3D</option>
                <option value="réalisation sur machine">réalisation sur machine</option>
            </select>
        </div>
    </div>
    <div class="w-[80%] flex flex-col justify-start items-start mt-[10px]">
        <label for="intro">Introduction</label>
        <textarea id="intro" class="w-full border-[gray] border-[2px] rounded-[5px] px-[5px]"><%= rep.intro %></textarea>
    </div>
    <div class="w-[80%] flex flex-row justify-around items-center mt-[10px]">
        <div class="w-[50%] flex flex-col justify-start items-center">
            <label for="cdc">Cahier des charges</label>
            <textarea id="cdc" class="w-[90%] border-[gray] border-[2px] rounded-[5px] px-[5px]"><%= rep.cdc %></textarea>
        </div>
        <div class="w-[50%] flex flex-col justify-start items-center">
            <label for="images">Images du projet</label>
            <textarea id="images" class="w-[90%] border-[gray] border-[2px] rounded-[5px] px-[5px]"><%= rep.images %></textarea>
        </div>
    </div>
    <div class="w-[80%] flex flex-col justify-start items-start mt-[10px]">
        <label for="ccl">Conclusion</label>
        <textarea id="ccl" class="w-full border-[gray] border-[2px] rounded-[5px] px-[5px]"><%= rep.ccl %></textarea>
    </div>
    <div class="w-full flex flex-row justify-around mt-[10px]">
        <div class="flex flex-col">
            <label for="status">Statut du projet</label>
            <select class="px-[5px] border-[2px] border-[gray] rounded-[5px]" id="status">
                <option value="<%= rep.status %>" selected disabled hidden><%= rep.status %></option>
                <option value="en cours">en cours</option>
                <option value="en pause">en pause</option>
                <option value="arrêter">arrêter</option>
            </select>
        </div>
        <div class="flex flex-col">
            <label for="test">Lien test</label>
            <input id="test" class="px-[5px] border-[2px] border-[gray] rounded-[5px]" type="url" value="<%= rep.test %>">
        </div>
        <div class="flex flex-col">
            <label for="git">Lien GIT</label>
            <input id="git" class="px-[5px] border-[2px] border-[gray] rounded-[5px]" type="url" value="<%= rep.git %>">
        </div>
    </div>
    <div class="flex flex-row items-center justify-around w-[60%] mt-[20px]">
        <button class="bg-B border-A border-[2px] rounded-[5px] text-[white] px-[5px] transition hover:scale-[110%]" onclick="document.getElementById('edit').classList.toggle('hidden'); document.getElementById('preview').classList.toggle('flex'); document.getElementById('preview').classList.toggle('hidden'); preview()">preview</button>
        <button class="bg-C border-D border-[2px] rounded-[5px] text-[white] px-[5px] transition hover:scale-[110%]" onclick="if(!confirm('Souhaitez-vous vraiment annuler les modifications ?')) return; window.location.href = window.location.href">Annuler</button>
        <button class="bg-B border-A border-[2px] rounded-[5px] text-[white] px-[5px] transition hover:scale-[110%]" onclick="if(!confirm('Souhaitez-vous vraiment sauvegarder ?')) return; edit()">sauvgarder</button>
    </div>
</div>

<div id="preview" class="hidden w-[80%] flex-col items-center">
    <div class="w-full p-[10px]">
        <div id="component" class="" title="previewProject"></div>
    </div>
    <div class="flex flex-row items-center justify-around w-[60%] my-[20px]">
        <button class="bg-B border-A border-[2px] rounded-[5px] text-[white] px-[5px] transition hover:scale-[110%]" onclick="document.getElementById('edit').classList.toggle('hidden'); document.getElementById('preview').classList.toggle('flex'); document.getElementById('preview').classList.toggle('hidden')">retour</button>
        <button class="bg-C border-D border-[2px] rounded-[5px] text-[white] px-[5px] transition hover:scale-[110%]" onclick="if(!confirm('Souhaitez-vous vraiment annuler les modifications ?')) return; window.location.href = window.location.href">Annuler</button>
        <button class="bg-B border-A border-[2px] rounded-[5px] text-[white] px-[5px] transition hover:scale-[110%]" onclick="if(!confirm('Souhaitez-vous vraiment sauvegarder ?')) return; edit()">sauvgarder</button>
    </div>
</div>

<label id="labelInfo"></label>

<script>
    $(".chosen-select").chosen({no_results_text: "Aucun résultat pour :"});
    $('.chosen-select').val(("<%= rep.category.join(',') %>").split(",")).trigger('chosen:updated')
    
    const edit = () => {

        seeInfo("En attente d'une réponse du serveur...")
        toModule("replaceProject", {
            Pid: "<%= rep.Pid %>",
            category: $(".chosen-select").val(),
            name: document.getElementById("name").value, 
            date: document.getElementById("date").value,
            logo: document.getElementById("logo").value,
            intro: document.getElementById("intro").value,
            cdc: document.getElementById("cdc").value.split(","),
            images: document.getElementById("images").value.split(","),
            ccl: document.getElementById("ccl").value,
            status: document.getElementById("status").value,
            git: document.getElementById("git").value,
            test: document.getElementById("test").value, 
            visible: false
        }).then((rep) => {
            deleteInfo()
        }).catch((rep) => {
            deleteInfo()
        })
    }

    function preview(){
        listComponent.previewProject.refresh({
            category: $(".chosen-select").val(),
            name: document.getElementById("name").value, 
            date: document.getElementById("date").value,
            logo: document.getElementById("logo").value,
            intro: document.getElementById("intro").value,
            cdc: document.getElementById("cdc").value.split(","),
            images: document.getElementById("images").value.split(","),
            ccl: document.getElementById("ccl").value,
            status: document.getElementById("status").value,
            git: document.getElementById("git").value,
            test: document.getElementById("test").value
        })
    }
</script>